.App {
    text-align: center;
}

.food-card {
    padding: 20px;
}

.food-card .name {
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

.food-card button {
    width: 120px;
    margin: 10px auto;
}

.name {
    flex-grow: 1;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 160px;
}
